/*
** #BODY
*/

body {
  font-family: "comic sans ms", sanf-serif;
  font-size: 1em;
  color: black;
  height: 100%;
  position: relative;
}

/*
** #SECTION
*/

div.section {
  font-size: 4em;
  text-align: left;
  width: 80%;
  padding: 0px;
  margin-left: 5%;
  margin-bottom: 1.25em;
  position: relative;
}
img.top-right {
  width: 9em;
  display: block;
  right: 0px;
  top: 0px;
}
a.top-right {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*
** #SEARCH
*/

div.search {
  position: relative;
  width: 90%;
  height: 2em;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1.25em;
  border: 0.125em solid black;
  border-radius: 0.625em;
}
div.search1 {
  position: relative;
  width: 100%;
  height: 2em;
  margin-bottom: 1.25em;
  border: 0.125em solid black;
  border-radius: 0.625em;
}
input.search {
  width: 80%;
  position: absolute;
  top: 0.125em;
  left: 3.125em;
  border: 0px;
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
}
input.search:focus {
  border-color: white;
}
img.search {
  height: 1.875em;
  position: absolute;
  top: 0.0625em;
  left: 0.1875em;
  margin: 0;
}
input.found {
  width: 90%;
  height: 2em;
  border: 0.125em solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
  padding: 0px 0px 0px 0.3125em;
}

/*
** #LIST-OF-USERS
*/

div.list-of-users {
  position: relative;
  width: 90%;
  height: 12.5em;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0.125em;
  border: 0.0625em solid black;
}
img.list-of-users {
  height: 12.5em;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
}
div.user-info-in-list {
  height: 12.5em;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 12.5em;
  margin: 0;
  border-left: 0.0625em solid black;
}
h1.user-name-1 {
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  text-align: left;
}
p.user-position-1 {
  font-size: 1em;
  color: grey;
  margin-left: 5%;
  margin-bottom: 1.25em;
  text-align: left;
}

/*
** #OPTIONS-AT-BOTTOM
*/

div.options-at-bottom {
  width: 90%;
  height: 3.75em;
  position: relative;
  top: 100%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 50%;
  padding: 0;
  border: 0px;
  font-size: 1.5em;
}
div.options-at-bottom-l {
  width: 90%;
  height: 3.75em;
  position: relative;
  top: 100%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 15%;
  padding: 0;
  border: 0px;
  font-size: 1.5em;
}
a.delete-button {
  position: absolute;
  width: 100%;
  border: 0.0625em solid black;
  margin-bottom: 0.625em;
  background-color: red;
  font-weight: normal;
  text-align: center;
  color: white;
  box-shadow: 0.1875em 0.1875em black;
  display: inline-block;
  text-decoration: none;
}
a.delete-button:hoover {
  border: 0.0625em solid black;
  background-color: red;
  font-weight: normal;
  color: white;
  box-shadow: 0.1875em 0.1875em black;
}
a.statement-button {
  position: absolute;
  width: 100%;
  border: 0.0625em solid black;
  background-color: white;
  font-weight: normal;
  color: black;
  text-align: center;
  box-shadow: 0.1875em 0.1875em black;
  display: inline-block;
  text-decoration: none;
}
a.add-button-with-option {
  float: right;
}

/*
** #EDIT-REGION
*/

input.city {
  width: 90%;
  height: 1.75em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
}
input.city:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
select.region {
  width: 90%;
  font-size: 1.5em;
  border: 0.1875em solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
}
a.add-region {
  font-size: 1.5em;
  width: 20%;
  color: blue;
  border-bottom: 2px solid blue;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 1.25em;
}

/*
** #CREWS
*/

button.white-button-in-the-list {
  background-color: white;
  border: solid black 0.125em;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-bottom: 0.25em;
  width: 100%;
  height: 5%;
  font-size: 1em;
}

button.blue-button-in-the-list {
  background-color: #93bee5;
  border: solid black 0.125em;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-bottom: 0.25em;
  width: 100%;
  height: 5%;
  font-size: 1em;
}

div.button-city {
  margin: 0%;
  padding: 0%;
  font-size: 1.75em;
  font-weight: bold;
  color: black;
  text-align: left;
}

div.button-discription-of-city {
  margin: 0%;
  padding: 0%;
  font-size: 1.25em;
  font-weight: normal;
  color: gray;
  text-align: left;
}
a.add-button-in-list {
  position: fixed;
  bottom: 0;
  right: 0;
}
img.add-button-in-list {
  height: 8em;
}

/*
** #GLOBAL-MENU
*/

div.global-menu {
  background: #6fa8dc;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 5%;
  border: solid black 0.125em;
}

.in-global-menu {
  color: black;
  font-size: 3em;
  font-style: normal;
  background-color: #6fa8dc;
  border: 0;
  text-decoration: none;
  padding-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

/*
** #EMPLOYEE
*/

img.profile {
  width: 100%;
  display: block;
  border: solid black 0.125em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img.profile1 {
  width: 100%;
  display: block;
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 25%;
}

img.profile-l {
  width: 100%;
  display: block;
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 5%;
}

img.in-profile {
  width: 10%;
  display: block;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

div.employee-main-info {
  font-size: 1.5em;
  color: black;
  text-align: left;
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.employee-info {
  font-size: 1.25em;
  color: gray;
  text-align: left;
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.container {
  position: relative;
  margin-left: 5%;
}

div.employee-info-img {
  font-size: 1.5em;
  color: black;
  text-align: left;
  position: absolute;
  left: 20%;
}

/*
** #LOGIN
*/

input.data {
  width: 90%;
  height: 1.75em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: center;
  font-size: 1.5em;
  color: gray;
}

input.data:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}

button.register-password {
  font-size: 1.5em;
  width: 30%;
  color: #085394;
  background-color: white;
  border: 0;
  text-decoration: underline;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 0.5em;
}

/*
** #EDIT-ORGANIZATION
*/

input.org-data-r {
  width: 90%;
  height: 1.75em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
  color: black;
}
input.org-data-r:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
input.org-data-g {
  width: 90%;
  height: 1.75em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.25em;
  text-align: left;
  font-size: 1.5em;
  color: gray;
  font-style: italic;
}
input.org-data-g:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
input.org-data-s {
  width: 100%;
  height: 1.75em;
  margin: 0;
  text-align: left;
  font-size: 1.5em;
  color: black;
}
input.org-data-s:valid {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.1875em solid black;
}
div.index {
  display: inline-block;
  float: left;
  padding: 0;
  margin-bottom: 1.25em;
  margin-left: 5%;
  width: 10%;
}
div.city-with-index {
  display: inline-block;
  float: right;
  padding: 0;
  margin-bottom: 1.25em;
  margin-right: 5%;
  margin-left: 2%;
  width: 78%;
}

/*
** #REGION-VIEW
*/

ul.region-view {
  list-style-image: url('cross.png');
  margin: 0;
  margin-left: 8%;
  margin-bottom: 2em;
  padding: 0;
}
ul.region-view li {
  text-align: left;
  font-size: 1.5em;
  color: black;
}

/*
** #REGISTER
*/

div.container-text-form {
  width: 100%;
  margin-bottom: 4em;
}
div.text-in-line {
  display: inline-block;
  float: left;
  padding: 0;
  margin-left: 5%;
  width: 10%;
  font-size: 1.5em;
}
div.form-in-line {
  display: inline-block;
  float: left;
  padding: 0;
  margin-left: 2%;
  margin-right: 5%;
  width: 78%;
}
img.in-line {
  display: inline-block;
  float: right;
  width: 5%;
}
input.org-reg {
  display: inline-block;
  float: left;
  width: 85%;
  margin-right: 5%;
  text-align: left;
  font-size: 1.5em;
  color: black;
}
input.org-reg:valid {
  border: 0.1875em solid black;
}
select.sex {
  display: inline-block;
  float: right;
  width: 100%;
  font-size: 1.5em;
  border: 0.1875em solid black;
}
div.little-letter {
  width: 90%;
  text-align: justify;
  font-size: 1em;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 8%;
  margin-bottom: 1.25em;
}

/*
** #ADD-TECH-CLIENT
*/

input.org-reg-g {
  display: inline-block;
  float: left;
  width: 85%;
  margin-right: 5%;
  text-align: left;
  font-style: italic;
  font-size: 1.5em;
  color: gray;
}
input.org-reg-g:valid {
  border: 0;
  border-bottom: 0.1875em solid gray;
}
div.check-b {
  margin-left: 5%;
  margin-right: 10%;
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 1.5em;
  color: black;
}
div.check-g {
  margin-left: 5%;
  margin-right: 10%;
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 1.5em;
  color: gray;
}
div.check-b-m {
  margin-left: 5%;
  margin-right: 10%;
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 1em;
  color: black;
}
div.check-g-m {
  margin-left: 5%;
  margin-right: 10%;
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 1em;
  color: gray;
}

/*
** #YOUR-PROFILE
*/

div.little-letter-l {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-bottom: 0.5em;
  color: black;
}
ul.nav-bar {
  list-style-type: none;
  margin-bottom: 5%;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border: solid black 0.1875em;
}
li.in-nav-bar {
  float: left;
}
a.link-nav {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 2em;
  background-color: white;
}
a.link-nav:visited {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 2em;
  background-color: white;
}
a.link-nav:hover {
  background-color: #95bcf2;
}
a.link-nav:active {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 2em;
  background-color: #95bcf2;
}