<div id=navigation-widget></div>
<script type=text/javascript src=/dispenser/static/js/manifest.2314bf95fdf260c32f3c.js></script>
<script type=text/javascript src=/dispenser/static/js/vendor.6c69c770e88ed242884e.js></script>
<script type=text/javascript src=/dispenser/static/js/app.af2acc258b03b081f1e6.js></script>
<div class="container">
			content
</div>
