<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="drops.css">
</head>
<body>

<div class="wrapper">

   <ul class="global-menu">
     <li class="in-global-menu">
       <a class="simple" href="testUserViewProfil.html">Profile</a>
      <a class="top-right-glob-menu" href="testGlobalMenu.html">
         <img class="top-right" src="pic/balken.png"></img>
      </a>
     </li>
	  {{GlobalEntryList}}
 	</ul>
</div>
</body>
</html>

